<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Photo</dt>
  <dd><img class="img-thumbnail" src="<%= @favorite.photo.image_url %>"></dd>

  <dt>User</dt>
  <dd><%= @favorite.user.email %></dd>

</dl>
